## Modulo 3: Variables, tipo de datos, operaciones y operadores relacionales y lógicos

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
num = 3
print (num)

3

2) Imprimir el tipo de dato de la constante 8.5

In [3]:
constante = 8.5
print(type(constante))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [4]:
print(type(num))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [6]:
name = "Angela"
print(name)

Angela

5) Crear una variable que contenga un número complejo

In [9]:
num_complejo = 5+5j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [10]:
type (num_complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [12]:
import math
pi = math.pi
print(round(pi,4))

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [19]:
a = "True"
b = True

bool

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [21]:
print(f'La variable 1 es de tipo ', type(a), ' y la variable 2 es de tipo ', type(b))

La variable 1 es de tipo  <class 'str'>  y la variable 2 es de tipo  <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [22]:
num_int = 3
num_float = 7.5
suma = num_int+num_float
print (suma)

10.5

11) Realizar una operación de suma de números complejos

In [23]:
print(5j + 6j)

11j

12) Realizar una operación de suma de un número real y otro complejo

In [24]:
print(5j + 5)

(5+5j)

13) Realizar una operación de multiplicación

In [25]:
mul=5*8
print(mul)

40

14) Mostrar el resultado de elevar 2 a la octava potencia

In [26]:
elevar = 2**8
print (elevar)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [27]:
cociente = 27/4
print(cociente)

6.75

16) De la división anterior solamente mostrar la parte entera

In [28]:
parte_entera = 27// 4
print(parte_entera)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [30]:
residuo=27%4
print(residuo)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [31]:
o = 6* 4+3
print(o)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [35]:
c = 'Data '
d = 'Scientists'
print( c + d)

Data Scientists

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [36]:
e = "2"
f = 2
print(e==f)

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [37]:
print(e==str(f))

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

El cambio de tipo de datos arroja un error porque el número '3,8' contiene una coma como separador decimal y en Python se utiliza el punto como separador decimal en números de tipo float. Para convertir '3,8' a float en Python, primero es necesario reemplazar la coma por un punto: a = float('3.8')

In [ ]:
a=float ('3.8')

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [38]:
a =3
a-=1
print(a)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

La operación 1 << 2 desplaza el número binario 1 dos posiciones a la izquierda, lo que resulta en el número binario 100, que en decimal equivale a 4. Esto se debe a que en el sistema de numeración binario, cada posición representa una potencia de 2, donde la posición más a la derecha es 2^0, la siguiente es 2^1, la siguiente es 2^2 y así sucesivamente. Por lo tanto, al desplazar el número binario 1 dos posiciones a la izquierda, se multiplica por 2^2, lo que equivale a multiplicar por 4 en decimal.

In [39]:
1 << 2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

La operación 2 + '2' no está permitida porque se está intentando sumar un número entero (2) con una cadena de texto ('2'). En Python, la suma solo está permitida entre operandos del mismo tipo.

In [40]:
int(2) + int('2')

4

26) Realizar una operación válida entre valores de tipo entero y string

In [43]:
a = " Si puedo"
b = 3
print(str(a)*b)

 Si puedo Si puedo Si puedo